$primary: #daa14c;
$body-bg: #ffffff;
$secondary: #f8f8f8;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1216px
);

@import './styles/spacer';
@import './styles/global';
// Required
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

// Add a custom color to $theme-colors
$custom-colors: (
  'gray': #666666,
  'tertiary': #30373e
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import 'bootstrap/scss/bootstrap';
@import 'remixicon/fonts/remixicon.css';
@import './styles/home.scss';
